/*
*
* Copyright (c) 2025 Ryan Luckie
* SPDX-License-Identifier: MIT
*
*/

#pragma once


#define ___ &trans
#define ___________________t2___________________ &trans &trans
#define _____________________________t3______________________________ &trans &trans &trans
#define _______________________________________t4_______________________________________ &trans &trans &trans &trans
#define _________________________________________________t5________________________________________________  &trans &trans &trans &trans &trans
#define ___________________________________________________________t6____________________________________________________________ &trans &trans &trans &trans &trans &trans
#define ______________________________________________________________________________________________________________________t12________________________________________________________________________________________________________________________ &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &transA


#define XXX &none
#define ___________________n2___________________ &none &none
#define _____________________________n3______________________________ &none &none &none
#define _______________________________________n4_______________________________________ &none &none &none &none
#define _________________________________________________n5________________________________________________  &none &none &none &none &none
#define ___________________________________________________________n6____________________________________________________________ &none &none &none &none &none &none
#define ______________________________________________________________________________________________________________________n12________________________________________________________________________________________________________________________ &none &none &none &none &none &none &none &none &none &none &none &none