/*
*
* Copyright (X0A_LB2) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

#include "includes.h"
#include "layouts/qwerty.dtsi"


/ {
        keymap {
                compatible = "zmk,keymap";
                default_layer {
                     display-name = "ALPHA";
                     bindings = <
   &kp X0A_LT5          &kp X0A_LT4           &kp X0A_LT3           &kp X0A_LT2            &kp X0A_LT1            &kp X0A_LT0          &kp X0A_RT0          &kp X0A_RT1           &kp X0A_RT2            &kp X0A_RT3           &kp X0A_RT4          &kp X0A_RT5
   &kp X0A_LM5          &lt SHORTS X0A_LM4    &mt X0M_L3 X0A_LM3    &mt X0M_L2 X0A_LM2     &mt X0M_L1 X0A_LM1     &kp X0A_LM0          &kp X0A_RM0          &mt X0M_R1 X0A_RM1    &mt X0M_R2 X0A_RM2     &mt X0M_R3 X0A_RM3    &th_lead 0 0         &kp X0A_RM5 
   &kp X0A_LB5          &kp X0A_LB4           &mt X0M_L0 X0A_LB3      &kp X0A_LB2            &mt X0M_L0 X0A_LB1     &kp X0A_LB0          &kp X0A_RB0          &ht_magic X0M_R0 0    &th_comma 0 0          &th_dot 0 0           &kp X0A_RB4          &kp X0A_RB5
                                                                    &mkp RCLK              &ht_repeat NAV 0       &ltn_num_spc 0 0     &msl_sym_a2 0 0      &ht_shift MEDIA 0     &mkp LCLK
   
   
                        >;
                };

                camel_case_layer {
                     display-name = "CAMEL";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans                  &trans
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans                &trans
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans               &trans
                                                               &trans              &trans              &msk_sft NUM 0      &trans              &trans              &trans
                           >;
                };
                snake_case_layer {
                     display-name = "SNAKE";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans                  &trans
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans                &trans
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans               &trans
                                                               &trans              &trans              &msk_unds NUM 0     &trans              &trans              &trans
                           >;
                };
                constant_layer {
                     display-name = "CONST";
                     bindings = <
   &trans              &kp RS(X0A_LT4)           &kp RS(X0A_LT3)           &kp RS(X0A_LT2)           &kp RS(X0A_LT1)           &kp RS(X0A_LT0)           &kp RS(X0A_RT0)           &kp RS(X0A_RT1)           &kp RS(X0A_RT2)           &kp RS(X0A_RT3)           &trans              &trans
   &trans              &lt SHORTS RS(X0A_LM4)    &mt X0M_L3 RS(X0A_LM3)      &mt X0M_L2 RS(X0A_LM2)      &mt X0M_L1 RS(X0A_LM1)      &kp RS(X0A_LM0)           &kp RS(X0A_RM0)           &mt X0M_L1 RS(X0A_RM1)      &mt X0M_L2 RS(X0A_RM2)      &mt X0M_L3 RS(X0A_RM3)      &lt SHORTS RS(X0A_RM4)               &trans
   &trans              &kp RS(X0A_LB4)           &mt X0M_L0 RS(X0A_LB3)      &mt X0M_L0 RS(X0A_LB2)      &mt X0M_L0 RS(X0A_LB1)      &kp RS(X0A_LB0)           &kp RS(X0A_RB0)           &ht_magic_c X0M_L0 0  &th_comma 0 0       &th_dot 0 0         &trans              &trans
                                                               &trans              &trans              &msk_unds NUM 0     &lt_case_a2 SYM 0 &trans              &trans
                           >;
                };
                kebab_case_layer {
                     display-name = "KEBAB";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans                  &trans
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans                &trans
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans               &trans
                                                               &trans              &trans              &msk_dash NUM 0     &trans              &trans              &trans
                           >;
                };
                slash_case_layer {
                     display-name = "SLASH";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans                  &trans
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans                &trans
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans               &trans
                                                               &trans              &trans              &msk_slash NUM 0    &trans              &trans              &trans
                           >;
                };
                spacing_layer {
                     display-name = "SPACE";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans                  &trans
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans                &trans
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans               &trans
                                                               &trans              &trans              &msk_spcb NUM 0     &trans              &trans              &trans
                           >;
                };
                capsword_layer {
                     display-name = "CASE";
                     bindings = <
   &trans              &kp RS(X0A_LT4)           &kp RS(X0A_LT3)           &kp RS(X0A_LT2)           &kp RS(X0A_LT1)           &kp RS(X0A_LT0)           &kp RS(X0A_RT0)           &kp RS(X0A_RT1)           &kp RS(X0A_RT2)           &kp RS(X0A_RT3)           &trans              &trans
   &trans              &lt SHORTS RS(X0A_LM4)    &mt X0M_L3 RS(X0A_LM3)      &mt X0M_L2 RS(X0A_LM2)      &mt X0M_L1 RS(X0A_LM1)      &kp RS(X0A_LM0)           &kp RS(X0A_RM0)           &mt X0M_L1 RS(X0A_RM1)      &mt X0M_L2 RS(X0A_RM2)      &mt X0M_L3 RS(X0A_RM3)      &lt SHORTS RS(X0A_RM4)               &trans
   &trans              &mc_qu_c            &mt X0M_L0 RS(X0A_LB3)      &mt X0M_L0 RS(X0A_LB2)      &mt X0M_L0 RS(X0A_LB1)      &kp RS(X0A_LB0)           &kp RS(X0A_RB0)           &ht_magic_c X0M_L0 0  &th_comma 0 0       &th_dot 0 0         &trans              &trans
                                                               &trans              &trans              &msk_spc NUM 0      &lt_case_a2 SYM 0   &lt_cancel MEDIA 0  &trans
                        >;
                };
                capsline_layer {
                     display-name = "CASE";
                     bindings = <
   &trans              &kp RS(X0A_LT4)           &kp RS(X0A_LT3)           &kp RS(X0A_LT2)           &kp RS(X0A_LT1)           &kp RS(X0A_LT0)           &kp RS(X0A_RT0)           &kp RS(X0A_RT1)           &kp RS(X0A_RT2)           &kp RS(X0A_RT3)           &trans              &trans
   &trans              &lt SHORTS RS(X0A_LM4)    &mt X0M_L3 RS(X0A_LM3)      &mt X0M_L2 RS(X0A_LM2)      &mt X0M_L1 RS(X0A_LM1)      &kp RS(X0A_LM0)           &kp RS(X0A_RM0)           &mt X0M_L1 RS(X0A_RM1)      &mt X0M_L2 RS(X0A_RM2)      &mt X0M_L3 RS(X0A_RM3)      &lt SHORTS RS(X0A_RM4)               &trans
   &trans              &mc_qu_c            &mt X0M_L0 RS(X0A_LB3)      &mt X0M_L0 RS(X0A_LB2)      &mt X0M_L0 RS(X0A_LB1)      &kp RS(X0A_LB0)           &kp RS(X0A_RB0)           &ht_magic_c X0M_L0 0  &th_comma 0 0       &th_dot 0 0         &trans              &trans
                                                               &trans              &trans              &trans              &lt_case_a2 SYM 0 &lt_cancel MEDIA 0  &trans
                                                               
                           >;
                };



                alpha2_layer {
                     display-name = "ALPHA";
                     bindings = <
   &trans              &none               &kp Q               &mc_qu              &kp K               &none               &none               &ac_ocir            &ac_oacu            &ac_uacu            &none              &trans
   &trans              &kp Y               &kp Z               &kp X               &kp W               &none               &none               &ac_atil            &ac_aacu            &ac_eacu            &ac_iacu               &trans
   &trans              &none               &kp J               &mc_ced             &reversed_magic     &none               &none               &ac_otil            &ac_acir            &ac_ecir            &none               &trans
                                                               &none               &mc_sqo             &trans              &kp SPACE           &mc_sqo             &none
                           >;
                };



                numbers_layer {
                     display-name = "NUM";
                     bindings = <
   &trans              &none               &th_lbrc 0 0        &th_rbrc 0 0        &kp BSLH            &none               &none               &mc_n7              &mc_n8              &mc_n9              &none              &trans
   &trans              &lt_deg FUN 0       &th_lpar 0 0        &th_rpar 0 0        &kp AMPS            &none               &none               &mc_n4              &mc_n5              &mc_n6              &kp DOT                &trans
   &trans              &none               &th_lbkt 0 0        &th_rbkt 0 0        &kp PIPE            &none               &none               &mc_n1              &mc_n2              &mc_n3              &none               &trans
                                                               &none               &trans              &trans              &hlt SYM SPACE    &lt_n0 MEDIA 0      &none 
                           >;
                };
                symbols_layer {
                     display-name = "SYM";
                     bindings = <
   &trans              &none               &mc_tilde           &kp HASH            &th_sqo 0 0         &none               &none               &th_perc 0 0        &th_eql 0 0         &th_colon 0 0       &none              &trans
   &trans              &kp AT              &th_caret_z 0 0     &kp DOLLAR          &th_dqo 0 0         &none               &none               &th_qmark 0 0       &kp MINUS           &kp PLUS            &lt SMART COMMA              &trans
   &trans              &none               &mc_lt              &mc_gt              &th_bti 0 0         &none               &none               &th_excl 0 0        &kp SLASH           &kp STAR            &none               &trans
                                                               &none               &trans              &hlt NUM_CP SPACE   &none               &trans              &none        
                           >;
                };



               sentence_case_layer {
                     display-name = "CASE";
                     bindings = <
   &trans              &kp LS(X0A_LT4)           &kp LS(X0A_LT3)           &kp LS(X0A_LT2)           &kp LS(X0A_LT1)           &kp LS(X0A_LT0)           &kp LS(X0A_RT0)           &kp LS(X0A_RT1)           &kp LS(X0A_RT2)           &kp LS(X0A_RT3)           &trans              &trans
   &trans              &kp LS(X0A_LM4)           &mt X0M_L3 LS(X0A_LM3)      &mt X0M_L2 LS(X0A_LM2)      &mt X0M_L1 LS(X0A_LM1)      &kp LS(X0A_LM0)           &kp LS(X0A_RM0)           &mt X0M_L1 LS(X0A_RM1)      &mt X0M_L2 LS(X0A_RM2)      &mt X0M_L3 LS(X0A_RM3)      &kp LS(X0A_RM4)               &trans
   &trans              &kp LS(X0A_LB4)           &mt X0M_L0 LS(X0A_LB3)      &mt X0M_L0 LS(X0A_LB2)      &mt X0M_L0 LS(X0A_LB1)      &kp LS(X0A_LB0)           &kp LS(X0A_RB0)           &ht_magic_c X0M_L0 0  &th_comma 0 0       &th_dot 0 0         &trans              &trans
                                                               &trans              &trans              &trans              &lt_sft_a2 SYM_CP 0 &trans              &trans
                           >;
                };
                ccedil_layer {
                     display-name = "Ç EXT";
                     bindings = <
   &trans              &none               &none               &none               &none               &none               &none               &none               &trans              &trans              &none                   &trans
   &trans              &none               &none               &none               &mc_aotil           &none               &none               &ac_atil            &trans              &none               &none                 &trans
   &trans              &none               &none               &none               &mc_otiles          &none               &none               &ac_otil            &trans              &trans              &none                &trans
                                                               &none               &sl ALPHA2          &trans              &trans              &trans              &none
                           >;
                };
                shifted_alpha2_layer {
                     display-name = "ALPHA";
                     bindings = <
   &trans              &none               &kp LS(X0A_LT4)           &mc_qu_s            &kp LS(X0A_LT0)           &none               &none               &ac_ocir_s          &ac_oacu_s          &ac_uacu_s          &none              &trans
   &trans              &kp LS(X0A_LB4)           &kp LS(X0A_RM0)           &kp LS(X0A_RT0)           &kp LS(X0A_LM0)           &none               &none               &ac_atil_s          &ac_aacu_s          &ac_eacu_s          &ac_iacu_s               &trans
   &trans              &none               &kp LS(X0A_RB0)           &mc_ced_s           &reversed_magic_c   &none               &none               &ac_otil_s          &ac_acir_s          &ac_ecir_s          &none                &trans
                                                               &none               &mc_sqo             &trans              &kp SPACE           &mc_sqo             &none 
                           >;
                };
                case_alpha2_layer {
                     display-name = "CASE";
                     bindings = <
   &trans              &none               &kp RS(X0A_LT4)           &mc_qu_c            &kp RS(X0A_LT0)           &none               &none               &ac_ocir_c          &ac_oacu_c          &ac_uacu_c          &none              &trans
   &trans              &kp RS(X0A_LB4)           &kp RS(X0A_RM0)           &kp RS(X0A_RT0)           &kp RS(X0A_LM0)           &none               &none               &ac_atil_c          &ac_aacu_c          &ac_eacu_c          &ac_iacu_c               &trans
   &trans              &none               &kp RS(X0A_RB0)           &mc_ced_c           &reversed_magic_c   &none               &none               &ac_otil_c          &ac_acir_c          &ac_ecir_c          &none               &trans
                                                               &none               &mc_sqo             &trans              &kp SPACE           &mc_sqo             &none 
                           >;
                };
                case_ccedil_layer {
                     display-name = "CASE";
                     bindings = <
   &trans              &none               &none               &none               &none               &none               &none               &none               &trans              &trans              &none                   &trans
   &trans              &none               &none               &none               &mc_aotil_c         &none               &none               &ac_atil_c          &trans              &none               &none                 &trans
   &trans              &none               &none               &none               &mc_otiles_c        &none               &none               &ac_otil_c          &trans              &trans              &none               &trans
                                                               &none               &sl CASE_A2         &trans              &trans              &trans              &none 
                           >;
                };



                shortcuts_layer {
                     display-name = "SHORTS";
                     bindings = <
   &trans              &none              &mc_emoji           &mc_files            &mc_screenshot      &none               &none               &mc_lock            &to NUM               &to PLAIN1         &none                  &trans
   &trans              &none              &mc_zoom_out        &mc_zoom_in         &mc_reset_zoom      &none               &none               &mc_leader          &to NAV               &to MEDIA          &none              &trans
   &trans              &none              &mc_close           &mc_refresh         &mc_reopen          &none               &none               &kp C_SLEEP         &to FUN               &to MEHS           &none               &trans
                                          &none               &ht_repeat TEXT 0   &lt FUN SPACE       &lt SMART SPACE     &ht_repeat TEXT 0   &none 
                           >;
                };

                mehs_layer {
                     display-name = "MEHS";
                     bindings = <
   &trans              &none               &mc_meh_b           &mc_meh_m           &mc_meh_g           &none               &none               &mc_meh_l           &mc_meh_o           &mc_meh_u           &none                  &trans
   &trans              &mc_meh_d           &mc_meh_n           &mc_meh_s           &mc_meh_t           &none               &none               &mc_meh_r           &mc_meh_a           &mc_meh_e           &mc_meh_i              &trans
   &trans              &none               &mt_meh_f X0M_L0 0    &mt_meh_c X0M_L0 0    &mt_meh_p X0M_L0 0    &none               &none               &mt_meh_h X0M_L0 0    &mt_meh_comm X0M_L0 0 &mt_meh_dot X0M_L0 0  &none              &trans
                                                               &none               &lt_plain1 NAV 0    &hsk X0M_L0 X0M_L0      &hsk X0M_L0 X0M_L0      &lt_plain1 NAV 0    &none 
                           >;
                };



                plain1_layer {
                     display-name = "PLAIN";
                     bindings = <
   &trans              &kp Q               &kp B               &kp M               &kp G               &kp K               &kp X               &kp L               &kp O               &kp U               &trans              &trans
   &trans              &kp D               &kp N               &kp S               &kp T               &kp W               &kp Z               &kp R               &kp A               &kp E               &kp I               &trans
   &trans              &kp Y               &kp F               &kp C               &kp P               &kp V               &kp J               &kp H               &kp COMMA           &kp DOT             &trans               &trans
                                                               &none               &ht_repeat NAV 0    &lt NUM_CP SPACE    &msl_p2 SYM_CP 0    &ht_sft_p2 MEDIA    &none
                           >;
                };
                plain2_layer {
                     display-name = "PLAIN";
                     bindings = <
   &trans              &none               &kp Q               &mc_qu              &kp K               &none               &none               &ac_ocir            &ac_oacu            &ac_uacu            &none              &trans
   &trans              &kp Y               &kp Z               &kp X               &kp W               &none               &none               &ac_atil            &ac_aacu            &ac_eacu            &ac_iacu               &trans
   &trans              &none               &kp J               &mc_ced             &kp V               &none               &none               &ac_otil            &ac_acir            &ac_ecir            &none               &trans
                                                               &none               &mc_sqo             &lt NUM_CP SPACE    &lt SYM_CP SPACE    &mc_sqo             &none
                           >;
                };
                shifted_plain2_layer {
                     display-name = "PLAIN";
                     bindings = <
   &trans              &none               &kp LS(X0A_LT4)           &mc_qu_s            &kp LS(X0A_LT0)           &none               &none               &ac_ocir_s          &ac_oacu_s          &ac_uacu_s            &none              &trans
   &trans              &kp LS(X0A_LB4)           &kp LS(X0A_RM0)           &kp LS(X0A_RT0)           &kp LS(X0A_LM0)           &none               &none               &ac_atil_s          &ac_aacu_s          &ac_eacu_s            &ac_iacu_s               &trans
   &trans              &none               &kp LS(X0A_RB0)           &mc_ced_s           &kp LS(X0A_LB0)           &none               &none               &ac_otil_s          &ac_acir_s          &ac_ecir_s            &none               &trans
                                                               &none               &mc_sqo             &lt NUM_CP SPACE    &lt SYM_CP SPACE    &mc_sqo             &none
                           >;
                };
                secondary_alternate_repeat_layer {
                     display-name = "ALPHA";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans               &trans                  &trans
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans               &trans                &trans
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans               &trans               &trans
                                                               &trans              &a2_alt_repeat      &trans              &trans              &trans              &trans
                           >;
                };


                navigation_layer {
                     display-name = "NAV";
                     bindings = <
   &trans              &none               &mc_swapper         &mc_tabs            &mc_launcher        &none               &none               &kp TAB             &kp ENTER           &kp ESC              &none              &trans
   &trans              &lt TEXT INS        &kp X0M_L3            &kp X0M_L2            &kp X0M_L1            &none               &none               &kp LEFT            &kp DOWN            &kp UP               &kp RIGHT              &trans
   &trans              &none               &kp X0M_L0            &kp X0M_L0            &kp X0M_L0            &none               &none               &kp DEL             &kp HOME            &kp END              &none               &trans
                                                               &none               &trans              &none               &hlt SYM_CP SPACE   &mo MEDIA           &none 
                        >;
                };

                numbers_copy_layer {
                     display-name = "NUM";
                     bindings = <
   &trans              &none               &th_lbrc 0 0        &th_rbrc 0 0        &kp BSLH            &none               &none               &mc_n7              &mc_n8              &mc_n9               &none              &trans
   &trans              &mc_deg             &th_lpar 0 0        &th_rpar 0 0        &kp AMPS            &none               &none               &mc_n4              &mc_n5              &mc_n6               &kp DOT                &trans
   &trans              &none               &th_lbkt 0 0        &th_rbkt 0 0        &kp PIPE            &none               &none               &mc_n1              &mc_n2              &mc_n3               &none               &trans
                                                               &none               &trans              &trans              &hlt SYM_CP SPACE   &lt_n0 MEDIA 0      &none 
                           >;
                };
                symbols_copy_layer {
                     display-name = "SYM";
                     bindings = <
   &trans              &none               &mc_tilde           &kp HASH            &th_sqo 0 0         &none               &none               &th_perc 0 0        &th_eql 0 0         &th_colon 0 0        &none              &trans
   &trans              &kp AT              &th_caret_z 0 0     &kp DOLLAR          &th_dqo 0 0         &none               &none               &th_qmark 0 0       &kp MINUS           &kp PLUS             &kp STAR                &trans
   &trans              &none               &mc_lt              &mc_gt              &th_bti 0 0         &none               &none               &th_excl 0 0        &kp SLASH           &kp STAR             &none               &trans
                                                               &none               &trans              &kp SPACE           &kp SPACE           &trans              &none 
                           >;
                };

                media_layer {
                    display-name = "MOUSE";
                    bindings = <
   &trans              &none               &none               &mkp LCLK           &mkp RCLK           &none               &none               &mc_hand            &kp ENTER           &kp ESC             &none              &trans
   &trans              &none               &mmv MOVE_LEFT      &mmv MOVE_UP        &mmv MOVE_RIGHT     &none               &none               &mc_mic             &mt C_MUTE C_VOL_DN &kp C_VOL_UP        &lt_cam TEXT 0              &trans
   &trans              &none               &msc SCRL_DOWN      &mmv MOVE_DOWN      &msc SCRL_UP        &none               &none               &kp C_PP            &kp C_PREV          &kp C_NEXT          &none               &trans
                                                               &none               &mo NAV_CP          &kp SPACE           &none               &trans              &none 
                           >;
                };
                navigation_copy_layer {
                     display-name = "NAV";
                     bindings = <
   &trans              &none               &mc_swapper         &mc_tabs            &mc_launcher        &none               &none               &kp TAB             &kp ENTER           &kp ESC             &none              &trans
   &trans              &kp INS             &kp X0M_L3            &kp X0M_L2            &kp X0M_L1            &none               &none               &kp LEFT            &kp DOWN            &kp UP              &kp RIGHT              &trans
   &trans              &none               &kp X0M_L0            &kp X0M_L0            &kp X0M_L0            &none               &none               &kp DEL             &kp HOME            &kp END             &none               &trans
                                                               &none               &trans              &trans              &trans              &trans              &none 
                           >;
                };

                text_layer {
                     display-name = "TEXT";
                     bindings = <
   &trans              &none               &select_home        &select_word        &select_line        &trans              &trans              &kp TAB             &kp ENTER           &kp ESC             &none              &trans
   &trans              &none               &hsk X0M_L3 X0M_R3      &hsk X0M_L2 X0M_R2      &hsk X0M_L1 X0M_R1      &trans              &trans              &mc_prev_word       &kp DOWN            &kp UP              &mc_next_word              &trans
   &trans              &none               &hsk X0M_L0 RGUI      &hsk X0M_L0 RGUI      &hsk X0M_L0 RGUI      &trans              &trans              &mc_del_word        &kp HOME            &kp END             &none               &trans
                                                               &none               &key_repeat         &none               &none               &key_repeat         &none 
                           >;
                };
                functions_layer {
                     display-name = "FUN";
                     bindings = <
   &trans              &none               &bt BT_PRV          &bt BT_NXT          &bt BT_SEL 0        &none               &none               &kp F7              &kp F8              &kp F9              &none               &trans
   &trans              &none               &hsk X0M_R3 X0M_L3      &hsk X0M_R2 X0M_L2      &hsk X0M_R1 X0M_L1      &none               &none               &kp F4              &kp F5              &kp F6              &none                    &trans
   &trans              &none               &hsk RGUI X0M_L0      &hsk RGUI X0M_L0      &hsk RGUI X0M_L0      &none               &none               &kp F1              &kp F2              &kp F3              &none              &trans
                                                               &none               &bootloader         &none               &none               &key_repeat         &none
                        >;
                };


                smart_layer {
                     display-name = "SMART";
                     bindings = <
   &trans              &none               &none               &tc_smart_word      &tc_smart_line      &none               &none               &mc_vim_replace     &mc_o_esc           &mc_sft_o_esc       &none               &trans
   &trans              &none               &tc_snake_case      &tc_constant_case   &tc_kebab_case      &none               &none               &kp LS(X0A_LB0)           &kp V               &kp LC(X0A_LB0)           &none              &trans
   &trans              &none               &tc_slash_case      &tc_pascal_case     &tc_camel_case      &none               &none               &mc_dqt0p           &mc_dqtplusp        &mc_dqtplusy        &none              &trans
                                                               &none               &key_repeat         &mc_spc_esc         &none               &bootloader         &none
                        >;
                };



        };
};
