/ {
	combos {
		compatible = "zmk,combos";
		combo_return_left: combo_return_left {
			timeout-ms = <VERT_COMBO_MS>;
			slow-release;
			key-positions = <5 17>;
			bindings = <&kp RETURN>;
			layers = <DEFAULT GAMING>;
		};
		combo_return_left_thumbs: combo_return_left_thumbs {
			timeout-ms = <VERT_COMBO_MS>;
			key-positions = <37 38>;
			bindings = <&lthp ADJUST RETURN>;
			layers = <DEFAULT GAMING>;
		};
		combo_adjust_tab: combo_adjust_tab {
			timeout-ms = <VERT_COMBO_MS>;
			key-positions = <38 39>;
			bindings = <&lttp ADJUST TAB>;
			layers = <DEFAULT GAMING>;
		};
		combo_return_right: combo_return_right {
			timeout-ms = <VERT_COMBO_MS>;
			slow-release;
			key-positions = <6 18>;
			bindings = <&kp RETURN>;
			layers = <DEFAULT GAMING>;
		};
		combo_return_right_thumbs: combo_return_right_thumbs {
			timeout-ms = <VERT_COMBO_MS>;
			key-positions = <39 40>;
			bindings = <&lthp OUTPUT RETURN>;
			layers = <DEFAULT GAMING>;
		};
		combo_space_left: combo_space_left {
			timeout-ms = <VERT_COMBO_MS>;
			slow-release;
			key-positions = <17 29>;
			bindings = <&kp SPACE>;
			layers = <DEFAULT GAMING>;
		};
		combo_tab_right: combo_tab_right {
			timeout-ms = <VERT_COMBO_MS>;
			slow-release;
			key-positions = <18 30>;
			bindings = <&kp TAB>;
			layers = <DEFAULT GAMING>;
		};
		combo_left_act: combo_left_act {
			timeout-ms = <VERT_COMBO_MS>;
			slow-release;
			key-positions = <1 16>;
			bindings = <&osl CARD_ACT ACT>;
			layers = <DEFAULT>;
		};
		combo_right_act: combo_right_act {
			timeout-ms = <VERT_COMBO_MS>;
			slow-release;
			key-positions = <10 19>;
			bindings = <&osl CARD_ACT ACT>;
			layers = <DEFAULT>;
		};
		combo_act: combo_act {
			timeout-ms = <ROLL_COMBO_MS>;
			slow-release;
			key-positions = <37 40>;
			bindings = <&osl CARD_ACT ACT>;
			layers = <DEFAULT POINTER DISCORD>;
		};
		combo_function: combo_function {
			timeout-ms = <ROLL_COMBO_MS>;
			slow-release;
			key-positions = <5 6>;
			bindings = <&osl CARD_FUNC FUNCTION>;
			layers = <DEFAULT>;
		};
		combo_tmux: combo_tmux {
			timeout-ms = <TRI_COMBO_MS>;
			slow-release;
			key-positions = <7 8 9>;
			bindings = <&kp LC(A)>;
			layers = <DEFAULT>;
		};
		combo_tmux_mode_select: combo_tmux_mode_select {
			timeout-ms = <TRI_COMBO_MS>;
			slow-release;
			key-positions = <2 3 4>;
			bindings = <&tmux_mode_select>;
			layers = <DEFAULT>;
		};
		combo_capsy: combo_capsy {
			timeout-ms = <CAPS_COMBO_MS>;
			slow-release;
			key-positions = <16 19>;
			bindings = <&capsy>;
			layers = <DEFAULT GAMING>;
		};
		combo_shifty: combo_shifty {
			timeout-ms = <CAPS_COMBO_MS>;
			slow-release;
			key-positions = <13 22>;
			bindings = <&shifty>;
			layers = <DEFAULT GAMING>;
		};
		combo_version: combo_version {
			timeout-ms = <ROLL_COMBO_MS>;
			key-positions = <1 2>;
			bindings = <&version>;
			layers = <DEFAULT>;
		};
		combo_delete: combo_delete {
			timeout-ms = <ROLL_COMBO_MS>;
			slow-release;
			key-positions = <9 10>;
			bindings = <&kp DELETE>;
			layers = <DEFAULT GAMING>;
		};
		combo_backspace_left: combo_backspace_left {
			timeout-ms = <VERT_COMBO_MS>;
			slow-release;
			key-positions = <1 13>;
			bindings = <&kp BACKSPACE>;
			layers = <DEFAULT GAMING>;
		};
		combo_backspace_right: combo_backspace_right {
			timeout-ms = <VERT_COMBO_MS>;
			slow-release;
			key-positions = <10 22>;
			bindings = <&kp BACKSPACE>;
			layers = <DEFAULT GAMING>;
		};
		combo_gui_left: combo_gui_left {
			timeout-ms = <ROLL_COMBO_MS>;
			key-positions = <25 26>;
			bindings = <&kp LGUI>;
			layers = <DEFAULT GAMING>;
		};
		combo_alt_left: combo_alt_left {
			timeout-ms = <ROLL_COMBO_MS>;
			key-positions = <13 25>;
			bindings = <&kp LALT>;
			layers = <DEFAULT GAMING>;
		};
		combo_gui_right: combo_gui_right {
			timeout-ms = <ROLL_COMBO_MS>;
			key-positions = <33 34>;
			bindings = <&kp LGUI>;
			layers = <DEFAULT GAMING>;
		};
		combo_alt_right: combo_alt_right {
			timeout-ms = <ROLL_COMBO_MS>;
			key-positions = <22 34>;
			bindings = <&kp LALT>;
			layers = <DEFAULT GAMING>;
		};
		combo_swap_left: combo_swap_left {
			timeout-ms = <ROLL_COMBO_MS>;
			key-positions = <16 25>;
			bindings = <&swap_ht 0 LG(TAB)>;
			layers = <DEFAULT DISCORD POINTER MIRROR>;
		};
		combo_swap_right: combo_swap_right {
			timeout-ms = <ROLL_COMBO_MS>;
			key-positions = <19 34>;
			bindings = <&swap_ht 0 LG(TAB)>;
			layers = <DEFAULT DISCORD POINTER MIRROR>;
		};
		combo_winswap_left: combo_winswap_left {
			timeout-ms = <ROLL_COMBO_MS>;
			key-positions = <25 28>;
			bindings = <&winswap_ht 0 LA(TAB)>;
			layers = <DEFAULT DISCORD POINTER MIRROR>;
		};
		combo_winswap_right: combo_winswap_right {
			timeout-ms = <ROLL_COMBO_MS>;
			key-positions = <31 34>;
			bindings = <&winswap_ht 0 LA(TAB)>;
			layers = <DEFAULT DISCORD POINTER MIRROR>;
		};
		combo_lighting: combo_lighting {
			timeout-ms = <VERT_COMBO_MS>;
			slow-release;
			key-positions = <1 10>;
			bindings = <&mo LIGHTING>;
			layers = <DEFAULT>;
		};
		
	};
};