&sk {
    quick-release;
};

&sl {
    release-after-ms = <10000>;
};

&mt {
    tapping-term-ms = <400>;
};

&lt {
    tapping-term-ms = <400>;
    quick-tap-ms = <250>;
};




#define CAPS_COMBO_MS 125
#define VERT_COMBO_MS 75
#define TRI_COMBO_MS  50
#define ROLL_COMBO_MS 25


#define VER_PATCH N1
#define VER_MINOR N0
#define VER_MAJOR N0


// Layers
#define DEFAULT 0
#define GAMING 1
#define SYMBOLS 2
#define LNUM 3
#define NUMPAD 4
#define MEDIA 5
#define OUTPUT 6
#define ADJUST 7
#define LIGHTING 8
#define DISCORD 9
#define POINTER 10
#define MIRROR 11
#define WIN_LEFT 12
#define WIN_RIGHT 13
#define ACT 14
#define FUNCTION 15