#include "includes/common.dtsi"
#include "includes/settings.dtsi"


#include "zmk-helpers/key-labels/42.h"
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2

#include "includes/custom_keycodes.dtsi"
#include "includes/macros.dtsi"
#include "includes/combos.dtsi"
#include "includes/behaviors.dtsi"
#include "includes/conditional_layers.dtsi"


/ {
    keymap {
        compatible = "zmk,keymap";
        /* 0 Layer */
        default   {
            display-name = "araxia";
            bindings = <
// clang-format off
 &mo_sl FUNCTION MIRROR  &lttp WIN_LEFT Q  &kp W         &kp E              &kp R             &kp T                &kp Y            &kp U               &kp I               &kp O         &lttp WIN_RIGHT P  &mo_to FUNCTION GAMING
 &point_tog              &hrml LCTRL A     &hrml LGUI S  &hrml LALT D       &hrsl LSHIFT F    &hrml GLOBE G        &h_bs            &hrsr RSHIFT J      &hrmr RALT K        &hrmr RGUI L  &hrmr RCTRL SEMI   &point_tog
 &dis_tog                &kp Z             &kp X         &kp C              &kp V             &kp B                &kp N            &m_cr               &kp COMMA           &kp DOT       &kp SLASH          &dis_tog
                                                         &mthp LGUI RETURN  &lthp LNUM LC(W)  &lthp SYMBOLS ESC    &lthp MEDIA ESC  &lttp NUMPAD SPACE  &lthp MIRROR COLON
            >;
        };

        /* 1 Layer */
        gaming {
            display-name = "gaming";
            bindings = <
 &kp LALT    &kp Q  &kp W  &kp E       &kp R      &kp T                &kp Y            &kp U               &kp I      &kp O    &kp P      &to DEFAULT
 &kp LCTRL   &kp A  &kp S  &kp D       &kp F      &kp G                &h_bs            &kp J               &kp K      &kp L    &kp SEMI   &kp RCTRL
 &kp LSHIFT  &kp Z  &kp X  &kp C       &kp V      &kp B                &kp N            &m_cr               &kp COMMA  &kp DOT  &kp SLASH  &kp RSHIFT
                           &kp RETURN  &kp SPACE  &lthp SYMBOLS TAB    &lthp MEDIA ESC  &lttp NUMPAD SPACE  &kp COLON
            >;
        };

        /* 2 Layer */
        symbols {
            display-name = "symbols";
            bindings = <
XXX    &kp COMMA  &kp AMPERSAND    &kp ASTERISK  &kp TILDE   &kp BACKSLASH     &kp LESS_THAN   &kp GREATER_THAN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOUBLE_QUOTES  XXX
XXX    &kp DOT    &kp DOLLAR       &kp PERCENT   &kp CARET   &kp TAB           &kp MINUS       &kp EQUAL         &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SINGLE_QUOTE   XXX
XXX    &kp EQUAL  &kp EXCLAMATION  &kp AT        &kp POUND   &kp PIPE          &kp UNDERSCORE  &kp PLUS          &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp GRAVE          XXX
                                   &kp LEFT      &kp RIGHT   ___              ___            ___              ___
            >;
        };

        /* 3 Layer */
        lnum {
            display-name = "lnum";
            bindings = <
XXX    &kp COMMA  &kp N7  &kp N8  &kp N9  &kp N0        &kp N0     &kp N9  &kp N8  &kp N7  &kp COMMA  XXX
XXX    &kp DOT    &kp N4  &kp N5  &kp N6  &kp COLON     &kp COLON  &kp N6  &kp N5  &kp N4  &kp DOT    XXX
XXX    &kp EQUAL  &kp N1  &kp N2  &kp N3  &kp MINUS     &kp MINUS  &kp N3  &kp N2  &kp N1  &kp EQUAL  XXX
                          ___    ___    ___          ___       ___    ___
            >;
        };

        /* 4 Layer */
        numpad {
            display-name = "numpad";
            bindings = <
&kp ASTERISK  &kp COMMA  &kp N7  &kp N8  &kp N9  &kp N0        &kp BACKSPACE  &kp TAB        &kp RC(N)  &kp RC(P)  &kp SPACE       XXX
&kp SLASH     &kp DOT    &kp N4  &kp N5  &kp N6  &kp COLON     &kp LEFT       &kp DOWN       &kp UP     &kp RIGHT  &kp RETURN      XXX
&kp PLUS      &kp EQUAL  &kp N1  &kp N2  &kp N3  &kp MINUS     &kp PAGE_UP    &kp PAGE_DOWN  &kp HOME   &kp END    &kp KP_NUMLOCK  XXX
                                 ___    ___    ___          ___           ___           ___
            >;
        };

        /* 5 Layer */
        media {
            display-name = "media";
            bindings = <
XXX    XXX    XXX    XXX     XXX     XXX       &kp C_MUTE    &kp C_PREV    &kp C_PP      &kp C_NEXT    &kp C_BRI_UP  XXX
XXX    XXX    XXX    XXX     XXX     XXX       &kp C_VOL_DN  &kp C_VOL_UP  XXX           XXX           &kp C_BRI_DN  XXX
XXX    XXX    XXX    XXX     XXX     XXX       XXX           XXX           XXX           XXX           XXX           XXX
                     ___    ___    ___      ___          ___          ___
            >;
        };

        /* 6 Layer */
        output {
            display-name = "output";
            bindings = <
XXX    &tab_tog  &zoom_tog  &zoom_in  &zoom_out  &glo C     &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3   &bt BT_DISC 4  &bootloader
XXX    XXX       XXX        XXX       &glo Q     &glo H     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4   XXX
XXX    XXX       XXX        XXX       XXX        &glo N     &out OUT_USB  &out OUT_BLE  &bt BT_PRV    &bt BT_NXT      &bt BT_CLR     &sys_reset
                            ___      ___       ___       ___          ___          &bt BT_CLR_ALL
            >;
        };

        /* 7 Layer */
        adjust {
            display-name = "adjust";
            bindings = <
&bootloader  &vim_qall   &vim_cqall  XXX     &ss_win  &to DEFAULT      &tmux_mode_select  &tmux_ps  &tmux_ns  &tmux_oz  &tmux_paste  XXX
XXX          &vim_wqall  &vim_save   &ss2c   &ss      &warpd_l         &tmux_sw           &tmux_pp  &tmux_pw  &tmux_nw  &tmux_np     XXX
&sys_reset   XXX         &vim_exit   &sss2c  &sss     &out OUT_USB     &tmux_idx          XXX       XXX       &tmux_vp  &tmux_copy   XXX
                                     XXX     XXX      ___             ___               XXX       XXX
            >;
        };

        /* 8 Layer */
        /* Do not use this then-layer for regular layer switching */
        lighting {
            display-name = "lighting";
            bindings = <
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
                     ___    ___    ___    ___    ___    ___
            >;
        };

        /* 9 Layer */
        discord {
            display-name = "discord";
            bindings = <
XXX           &mo WIN_LEFT  &kp TAB   &kp UP      &kp PLUS   &dis_section_nav    &dis_tog       &dis_prev_server      &dis_next_server       &dis_pins       &mo WIN_RIGHT      XXX
XXX           XXX           &kp LEFT  &kp DOWN    &kp RIGHT  XXX                 &kp PAGE_DOWN  &dis_down             &dis_up                &dis_prev_chan  &dis_next_chan     XXX
&kple LG(TAB) XXX           &kp HOME  &kp ESC     &kp END    XXX                 &kp PAGE_UP    &dis_prev_history     &dis_next_history      XXX             &dis_next_mention  &kple LG(TAB)
                                      &kp RETURN  XXX        &kple ESC           &kple ESC      ___                  XXX
            >;
        };

        /* 10 Layer */
        pointer {
            display-name = "pointer";
            bindings = <
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
                     ___    ___    ___    ___    ___    ___
            >;
        };

        /* 11 Layer */
        mirror {
            display-name = "mirror";
            bindings = <
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
                     ___    ___    ___    ___    ___    ___
            >;
        };

        /* 12 Layer */
        window_left {
            display-name = "move [L]";
            bindings = <
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
                     ___    ___    ___    ___    ___    ___
            >;
        };

        /* 13 Layer */
        window_right {
            display-name = "move [R]";
            bindings = <
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
                     ___    ___    ___    ___    ___    ___
            >;
        };

        /* 14 Layer */
        act {
            display-name = "act";
            bindings = <
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
                     ___    ___    ___    ___    ___    ___
            >;
        };

        /* 15 Layer */
        func {
            display-name = "func";
            bindings = <
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___    ___
                     ___    ___    ___    ___    ___    ___
            >;
        };

    };

};
// }}}
/* vim: set ft=dts: */
