#define XK_ESC ESC
#define XK_F1 F1
#define XK_F2 F2
#define XK_F3 F3
#define XK_F4 F4
#define XK_F5 F5
#define XK_F6 F6
#define XK_F7 F7
#define XK_F8 F8
#define XK_F9 F9
#define XK_F10 F10
#define XK_F11 F11
#define XK_F12 F12
#define XK_F13 F13
#define XK_F14 F14
#define XK_F15 F15
#define XK_F16 F16
#define XK_F17 F17
#define XK_F18 F18
#define XK_F19 F19
#define XK_F20 F20
#define XK_F21 F21
#define XK_F22 F22
#define XK_F23 F23
#define XK_F24 F24



#define XK_GRAVE GRAVE
#define XK_N1 N1
#define XK_N2 N2
#define XK_N3 N3
#define XK_N4 N4
#define XK_N5 N5
#define XK_N6 N6
#define XK_N7 N7
#define XK_N8 N8
#define XK_N9 N9
#define XK_N0 N0
#define XK_MINUS MINUS
#define XK_EQUAL EQUAL
#define XK_BSPC BSPC
#define XK_TAB TAB
#define XK_Q Q
#define XK_W W
#define XK_E E
#define XK_R R
#define XK_T T
#define XK_Y Y
#define XK_U U
#define XK_I I
#define XK_O O
#define XK_P P
#define XK_LBKT LBKT
#define XK_RBKT RBKT
#define XK_BSLH BSLH
#define XK_A A
#define XK_S S
#define XK_D D
#define XK_F F
#define XK_G G
#define XK_H H
#define XK_J J
#define XK_K K
#define XK_L L
#define XK_SEMI SEMI
#define XK_SQT SQT
#define XK_ENTER ENTER
#define XK_LSHFT LSHFT
#define XK_Z Z
#define XK_X X
#define XK_C C
#define XK_V V
#define XK_B B
#define XK_N N
#define XK_M M
#define XK_COMMA COMMA
#define XK_DOT DOT
#define XK_FSLH FSLH
#define XK_RSHFT RSHFT
#define XK_LCTRL LCTRL
#define XK_LALT LALT
#define XK_LMETA LMETA
#define XK_SPACE SPACE
#define XK_RMETA RMETA
#define XK_RALT RALT
#define XK_RCTRL RCTRL
